<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i class="fas fa-charging-station"></i>
    <a class="navbar-brand mx-2" href="/" >{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% assign rawtags = "" %}
            {% for post in site.posts %}
            {% assign ttags = post.categories | join:'|' | append:'|' %}
            {% assign rawtags = rawtags | append:ttags %}
            {% endfor %}
            {% assign rawtags = rawtags | split:'|' | sort %}

            {% assign tags = "" %}
            {% for tag in rawtags %}
            {% if tag != "" %}
            {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
            {% endif %}
            {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
            {% endunless %}
            {% endif %}
            {% endfor %}


            {% for tag in tags %}
            <li class="nav-item">
                <a class="nav-link" href="/category/{{tag}}">{{tag}}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="my-2 my-lg-0">
            <small>v{% include version.html %}</small>
        </div>
    </div>
</nav>