<p style="font-size: 150%">
    <a href="https://github.com/pforret" title="Github: pforret"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/peterforret/" title="Linkedin: peterforret"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/pforret" title="Twitter: pforret"><i class="fab fa-twitter-square"></i></a>
    <a href="https://bash.forret.com/podcast" title="Youtube: pforret"><i class="fab fa-youtube-square"></i></a>
    <a href="https://www.flickr.com/people/pforret/" title="Flickr: pforret"><i class="fab fa-flickr"></i></a>
</p>
